[Unit]
Description=Golang API
After=network.target

[Service]
User=ubuntu
Group=sudo
WorkingDirectory=/home/ubuntu/code
ExecStart=./main
Restart=always

[Install]
WantedBy=multi-user.target
